@CHARSET "UTF-8";

body {
	color: white;
	font-family: arial;
}

.bodyclass {
	width: 1021px;
	margin: 0 auto;
}

.header{
	clear: both;
	background-color: #972321;
	text-align: center;
	width: 1000px;
	height: 89px;
	border-radius: 10px 10px 10px 10px;
    border: 4px solid white;
    margin: 5px;
    padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 4px;
}

.backpanel {
     background-color: #8ED1D6;
     table-align: center;
     width: 1000px;

     border-radius: 10px 10px 10px 10px;
     border: 4px solid white;
     margin: 5px;
     padding: 5px;
}

.minibackpanel {
	background-color: #8ED1D6;
    table-align: center;
    margin-right:80px;
    width = 300px;
    height = 300px;
    float: left;
    
}

.enddiv {
	clear: both;
}

#subsequentminibackpanel {
	float: left;
}

#subsequentbackpanel {
	
}

.data {
	table-align: center;
	font-size: 24px;
	text-align: center;
	margin: 0px auto;
}

#AImage {
	width: 32px;
}

#SmallAImage {
	width: 15px;
}


.tip {
    position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 150px; 
	height: 40px;
	background-color: #972321;
	border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    font-size: smaller;
	display: none;
	text-align: center;
}

table {
	border-spacing: 5px;
}

.hasTip {
    text-decoration: underline;
	color: #ff0000;
}

.tipTitle {
	font-weight: bold;
}

.read {
	color:#616161;
}

a:link {color: #FFFFFF; text-decoration: underline}
a:visited {color: #616161; text-decoration: none}

